<!-- 多说分享 start-->
<div class="ds-share flat" data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" data-url="{{site.url}}{{page.url}}" data-content="{{ content | raw_content | strip_html | condense_spaces | truncate:150 }}">
    <div class="ds-share-inline">
      <ul  class="ds-share-icons-16">
      	
      	<li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
        <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
        <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
        <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
      	
      </ul>
      <div class="ds-share-icons-more">
      </div>
    </div>
 </div>
<!-- 多说分享 end-->
<!-- 多说评论框 start -->
<a name="ds-thread"></a>
<div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{page.title}}"></div>
<!-- 多说评论框 end -->