<!--公告-->
<section class="widget" id="notice">
	<div style="margin-bottom: 10px">
		<h4 style="margin: 0px !important">《Java工程师修炼之道》</h4>
		<a href="/blog/2018/04/01/pje-release/"><img src="/post_images/book.png" width="150"/></a>
	</div>
	<p>中华万年历技术团队长期求<a href="https://m.zhipin.com/weijd/v2/job/0cdf0b4c4c3029521nN5392-FFc~" style="font-weight: bold" target="_blank">Java研发!!!</a>，感兴趣者可发送简历到<a href="mailto:hang@etouch.cn">hang@etouch.cn</a>。</p>
	<div style="margin-bottom: 10px">
		<h4 style="margin: 0px !important">关注公众号，及时获取最新文章</h4>
		<img src="/images/blog_images/mp-qrcode.jpg" style="margin-left: -20px" id="imgQR"/>
	</div>
	原博客：<a href="http://srhang.iteye.com/" target="_blank">http://srhang.iteye.com/</a>
</section>