<section class="widget">
	<h3 class="widget-title">最新文章</h3>
	<ul class="widget-list">
		{% for post in site.posts limit: site.recent_posts %}
     	<li>
      	  <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      	</li>
    	{% endfor %}
	</ul>
</section>
<section class="widget">
	<h3 class="widget-title">最新评论</h3>
	<div id="recent-comments"></div>
</section>
<style type="text/css">
#recent-comments .comment-widget-meta {
    position: relative;
    top: 0px !important;
}
#recent-comments .comment-widget-content {
    color: #000000 !important;
}
</style>
<script type="text/javascript">
   var opt = {
       type: "github",
       user: "superhj1987",
       repo: "superhj1987.github.io",
       recent_comments_target: "#recent-comments",
       count: 5,
       client_id: "528dd6945e3a48c2a954",
       client_secret: "e71312e081ef3dd87cc3425ada7080cd3b296f0d"
   };
   getRecentCommentsList(opt);
</script>

