<section class="widget">
	<h3 class="widget-title">最新文章</h3>
	<ul class="widget-list">
		{% for post in site.posts limit: site.recent_posts %}
     	<li>
      	  <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
      	</li>
    	{% endfor %}
	</ul>
</section>

<section class="widget">
	<div id="hot-news-wrap"></div>
</section>
<script>var yunModuleEnv = true;</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
  var yunTieProductKey = "730342eca8c34b4aac81b1a4f32948cc";  
  var yunHotNewsWrap = "hot-news-wrap";   //放置的DOM节点ID 或 样式类
  Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vZXh0ZW5kL2hvdF9uZXdzX3NjcmlwdC5odG1s", true);
</script>