---
layout: default
single: true
---

<div class="col-8" id="main">
  <div class="res-cons">
  <article class="post clearfix">
  {% include article.html %}
  <footer class="post-footer">
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <div class="meta">
      {% if page.next.url %}
        <a class="basic-alignment left" style="float:left !important" href="{{page.next.url}}" title="上一篇: {{page.next.title}}">&laquo; {{page.next.title}} </a>
      {% endif %}
      {% if page.previous.url %}
        <a class="basic-alignment right" style="float:right !important" href="{{page.previous.url}}" title="下一篇: {{page.previous.title}}">{{page.previous.title}} &raquo;</a>
      {% endif %}
    </div>
  </footer>
</article>
{% if page.comments == true %}
{% if site.disqus_short_name %}
  <section>
    <h3>Comments</h3>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
{% include post/comment.html %}
{% endif %}
  </div>
</div>
{% unless page.sidebar == false %}
  <aside id="secondary">
  <div id="sidebar">
  {% if site.post_asides.size %}
    {% include_array post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
  </div>
</aside>
{% endunless %}
