<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link rel="stylesheet" href="{{ root_url }}/stylesheets/comment.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<style type="text/css">
  span#cnzz_stat_icon_1257166229{
  	display: none !important
  }
  .btn_primary{
    color: #fff;
    background-color: #006dcc;
    background-image: linear-gradient(to bottom,#08c,#04c);
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    display: inline-block;
    text-align: center;
  }
  #recent-comments .comment-widget-meta {
    position: relative;
    top: 0px !important;
  }
  #recent-comments .comment-widget-content {
      color: #000000 !important;
  }
</style>
