{% unless page.no_header %}
  <header>
    {% if index %}
      <h2 class="post-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
    {% else %}
      <h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="post-meta">
        {% include post/date.html %}{{ time }}
        {% if index %}
        {% else %}
        {% include post/author.html %} in {% include post/categories.html %}
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="post-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="post-content">{{ content }}</div>
<div style="width:100%;text-align:center">
  <img src="/images/blog_images/h.png"/>
  <p style="color: rgb(58, 65, 69);"><strong>ID: servertalk</strong></p>
  <img src="/images/blog_images/mp-qrcode.jpg"/>
  <p style="color: rgb(178, 178, 178);"><strong>关注[<span style="color:red !important;">后端技术杂谈</span>]</strong></p>
  <p style="color: rgb(178, 178, 178);"><strong>把握后端技术</strong></p>
  <img src="/images/blog_images/zan.jpg" width="218" />
</div>
{% endif %}
