{% unless page.no_header %}
  <header>
    {% if index %}
      <h2 class="post-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h2>
    {% else %}
      <h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="post-meta">
        {% include post/date.html %}{{ time }}
        {% if index %}
        {% else %}
        {% include post/author.html %} in {% include post/categories.html %}
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="post-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
    </footer>
  {% endif %}
{% else %}
<div class="post-content">{{ content }}</div>
<div style="width:100%;text-align:center;display: none" id="wxFooter">
  <img src="/images/blog_images/h.png"/>
  <p style="color: rgb(58, 65, 69);"><strong>ID: servertalk</strong></p>
  <img src="/images/blog_images/mp-qrcode.jpg"/>
  <p style="color: rgb(178, 178, 178);"><strong>关注[<span style="color:red !important;">后端技术杂谈</span>]</strong></p>
  <p style="color: rgb(178, 178, 178);"><strong>把握后端技术</strong></p>
  <img src="/images/blog_images/zan.jpg" width="218" />
</div>
<script>
var browser = {
  versions: function () {
      var u = navigator.userAgent, app = navigator.appVersion;
      return {         //移动终端浏览器版本信息
          trident: u.indexOf('Trident') > -1, //IE内核
          presto: u.indexOf('Presto') > -1, //opera内核
          webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
          gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
          mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
          ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
          android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
          iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
          iPad: u.indexOf('iPad') > -1, //是否iPad
          webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
      };
  }(),
  language: (navigator.browserLanguage || navigator.language).toLowerCase()
}
if (browser.versions.mobile) {//判断是否是移动设备打开。browser代码在下面
  // var ua = navigator.userAgent.toLowerCase();//获取判断用的对象
  // if (ua.match(/MicroMessenger/i) == "micromessenger") {
  $("div#wxFooter").show();
  // }
  // if (ua.match(/WeiBo/i) == "weibo") {
  //         //在新浪微博客户端打开
  // }
  // if (ua.match(/QQ/i) == "qq") {
  //         //在QQ空间打开
  // }
  // if (browser.versions.ios) {
  //         //是否在IOS浏览器打开
  // } 
  // if(browser.versions.android){
  //         //是否在安卓浏览器打开
  // }
} 
</script>
{% endif %}
