<div class="_dj8d8fo8gk" style="display:none"></div>
<div class="_ywga8i2zs8c"></div>
<div class="container">
	{% include custom/footer.html %}
</div>
<link href="{{ root_url }}/stylesheets/scrollUp.min.css" media="screen, projection" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ root_url }}/javascripts/libs/jquery.scrollUp.min.js"></script>
<script src="//cdn.staticfile.org/marked/0.3.6/marked.min.js"></script>
<script src="//cdn.staticfile.org/timeago.js/3.0.1/timeago.min.js"></script>
<script src="//cdn.staticfile.org/spin.js/2.3.2/spin.min.js"></script>
<script src="//cdn.staticfile.org/highlight.js/9.10.0/highlight.min.js"></script>
<script type="text/javascript">
  marked.setOptions({
  highlight: function (code, lang) {
     return hljs.highlightAuto(code).value;
  }
  });
  function Highlighting(){
    var markdowns = document.getElementsByClassName('markdown');
    for(var i=0;i<markdowns.length;i++){
       if(markdowns[i].innerHTML) markdowns[i].innerHTML =marked(markdowns[i].innerHTML);
    }
  }
  window.addEventListener('DOMContentLoaded', Highlighting, false);
  window.addEventListener('load', Highlighting, false);
</script>
<script src="{{ root_url }}/javascripts/comment.js"></script>
<script type="text/javascript">
$(function(){
	$.scrollUp({
		appendId: 'footer'
	});
});
var opt = {
   type: "github",
   user: "superhj1987",
   repo: "superhj1987.github.io",
   no_comment: "还没有评论",
   go_to_comment: "点击评论",
   issue_title: "{{ page.title }}",
   btn_class: "btn_primary",
   comments_target: "#comment-thread",
   loading_target: "#loading-spin",
   client_id: "528dd6945e3a48c2a954",
   client_secret: "e71312e081ef3dd87cc3425ada7080cd3b296f0d"
};
getComments(opt);
opt = {
   type: "github",
   user: "superhj1987",
   repo: "superhj1987.github.io",
   recent_comments_target: "#recent-comments",
   count: 5,
   client_id: "528dd6945e3a48c2a954",
   client_secret: "e71312e081ef3dd87cc3425ada7080cd3b296f0d"
};
getRecentCommentsList(opt);
</script>
<script type="text/javascript">
   (window.slotbydup = window.slotbydup || []).push({
       id: "u6803481",
       container: "_dj8d8fo8gk",
       async: true
   });
</script>
<script type="text/javascript">
   (window.slotbydup = window.slotbydup || []).push({
       id: "u6803483",
       container: "_ywga8i2zs8c",
       async: true
   });
</script>
<!-- 多条广告如下脚本只需引入一次 -->
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer" >
</script>