---
layout: page
title: "关于"
footer: false
comments: false
sharing: false
---
<style type="text/css">
	#sidebar #copyright,#sidebar #notice,#sidebar #social{
		display:none !important;
	}
	#social{
		width: 160px !important;
		margin: 0 auto;
	}
	#notice{
		text-align: center;
	}
	#imgQR{
		width: 258px !important;
		margin:0 auto !important;
		display: block !important;
		padding: 0 !important;
	}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#nav-menu a").removeClass("current");
	$("#nav-menu .about-nav").addClass("current");
});
</script>
<div class="post-content">
<div style="text-align: center;"><b>飒然Hang</b>，重度Java使用者，技术总监@中华万年历</div>
<ul>
	<li>专注于JavaEE、系统架构、大数据等后端技术。</li>
	<li>曾就职于网易杭州研究院，从事基础平台以及云计算相关技术的开发。</li>
	<li>目前主要从事系统架构、研发管理等工作，当然写代码这事肯定少不了。</li>
	<li>喜欢研究各种框架和开源软件的实现，偶尔自己造个轮子。</li>
	<li>推崇Java，但也不排斥其他技术，选择最合适的才是最好的。</li>
	<li>觉得总结和分享是自我提高的一种很好的方式，于是写博客成了闲暇的一种爱好。</li>
</ul>
<div>
{% include asides/social.html %}
<br/>
{% include asides/notice.html %}
{% include asides/copyright.html %}