---
layout: page
title: "关于"
footer: false
comments: false
sharing: false
---
<style type="text/css">
	#sidebar #copyright,#sidebar #notice,#sidebar #social{
		display:none !important;
	}
	#social{
		width: 160px !important;
		margin: 0 auto;
	}
	#notice{
		text-align: center;
	}
	#imgQR{
		width: 258px !important;
		margin:0 auto !important;
		display: block !important;
		padding: 0 !important;
	}
</style>
<script type="text/javascript">
$(document).ready(function(){
	$("#nav-menu a").removeClass("current");
	$("#nav-menu .about-nav").addClass("current");
});
</script>
<div class="post-content">
<div style="text-align: center;"><b>飒然Hang</b>，《Java工程师修炼之道》作者。重度Java使用者，专注于JavaEE、系统架构、分布式等后端技术。</div>
<ul>
	<li>目前在关注技术管理、企业效能提升相关工作。</li>
	<li>喜欢研究各种框架和开源软件的实现，偶尔自己造个轮子。</li>
	<li>推崇Java，但也不排斥其他技术，选择最合适的才是最好的。</li>
	<li>欣赏实时求是，懂就是懂，不懂就是不懂的踏实技术人。</li>
	<li>写博客是对自己零散知识点的总结和备忘，能够帮到别人则更好。</li>
	<li>相信技术改变世界^_^</li>
</ul>
<div>
<div class="post-content">
	<h3>我写的书</h3>
    <ul>
    	<li>
 			<p><a href="https://github.com/superhj1987/pragmatic-java-engineer/tree/master/book" target="_blank">《Java工程师修炼之道》</a></p>
 			<blockquote><p>梳理Java体系知识，沓实架构基础</p></blockquote>
			<a href="/blog/2018/04/01/pje-release/"><img src="/post_images/book.png" width="150"/></a>
		</li>
	</ul>
	<h3>我的开源</h3>
    <ul>
 		<li>
 			<p><a href="https://github.com/superhj1987/awesome-scripts" target="_blank">awesome-scripts</a></p>
 			<blockquote><p>常用运维脚本</p></blockquote>
 		</li>
 		<li>
 			<p><a href="https://github.com/superhj1987/awesome-libs" target="_blank">awesome-libs</a></p>
 			<blockquote><p>Java编程常用库</p></blockquote>
 		</li>
	</ul>
<div>
{% include asides/social.html %}
<br/>
{% include asides/notice.html %}
{% include asides/copyright.html %}